@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    height: 100%;
    overflow-x: hidden;
}

header {
    background-color: #7a6cc0;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    line-height: 1.3em;
    
}

main {
    background-color: #190c5a;
    padding: 5px;
}
section p {
    color: whitesmoke;
    text-align: justify;    
    text-indent: 15px;
    margin-bottom: 10px;
}

section.flex-container {
    /* Flexbox */
    display: flex;
    flex-flow: column nowrap;
}

article.flex-item {
    /* Flexbox */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 750px;
}

article > div.media {
    flex: 1 0 400px;
}

article a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


article a:hover {
    color: #4d4d4d;
}

article a::after {
    content: "\1F517";
}
div.media > img {
    display: block; 
    margin: auto;
    box-shadow: 2px 2px 10px black;
    width: 80%;
    padding: 10px;   
}

section.info {
    background-color: rgb(98, 98, 119);
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    margin-top: 10px;
    padding: 20px;
}

article.info1 h1{
    font-size: 1.7em;
}
article.info1  a{
    color: wheat;
    font-weight: bolder;
}

article.info1 a:hover{
    color: black;

}

article li{
    list-style: none;
}

.lista::before {
    content: "\002690    ";
}

footer {
    background-color: #000000ad;
    color: white;
    text-align: center;
}

footer a {
    color: gray;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    color: black;
    transition: .3s;
}